@import "tailwindcss";

h1{
  color: #eb6f92;
  text-align: center;
  @apply text-4xl font-mono
}

h4{
  @apply text-2xl text-center
}

.primary-div{
  background-color: #908caa;
  @apply p-5 rounded-2xl mt-6 self-center
}

input {
  background-color: aliceblue;
  @apply rounded-sm
}

.primary-btn{
  background-color: #31748f;
  @apply rounded-lg border-2
}

.primary-btn:hover {
  background-color: #51819f;
  @apply rounded-lg
}